@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100&family=Poppins:ital,wght@1,100&display=swap');

body {
  margin: 0;
  color:white;
  background-color: #040714;
  overflow: hidden;

}
*{
  box-sizing: border-box;
}

